# ROS 2 build folders
build/
install/
log/

# Python cache
__pycache__/
*.py[cod]

# Data outputs (אנחנו לא רוצים להעלות את התוצאה, רק את הקוד)
data/result.png

# VS Code settings
.vscode/

# Docker
.env
